@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: inline;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;

  svg {
    height: 100%;
  }
}

form#edit_menu {
  border-top: 2px solid black;
  padding-top: 30px;

  margin-top: 60px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
  }
}

header {
  padding: 1em;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: black;
    padding: 10px;
    background: white;
    text-decoration: none;
  }
  
  a:hover {
    background: grey;
  } 
}

.container {
  display:flex
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}

.container {
  display: flex;
  height: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;
}
button {
  border: none;
  background-color: black;
  color: white;
  padding: 3px 8px;
  margin-top: 16px;
}

.error {
  color: red;
}

.login-form {
  display:inline;
  width: 100px;
}
